.banner {
  height: 281px;
  width: 100%;
  background-color: $styleGuideGrey-3;

  &--placeholder {
    background-image: url(../images/icons/placeholder.svg);
    background-repeat: no-repeat;
    background-position: center center;
  }
}