// Colors
$styleGuideBlack:   #000000;
$styleGuideWhite:   #FFFFFF;
$styleGuideGrey-1:  #4A4A4A;
$styleGuideGrey-2:  #7C848C;
$styleGuideGrey-3:  #D4DADC;
$styleGuideGrey-4:  #F5F5F5;
$styleGuideGrey-5:  #F9F9F9;