.button {
  width: 100%;
  display: inline-block;
  border-radius: 3px;
  line-height: 52px;
  text-align: center;
  margin: 12px 0px;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }

  &--primary {
    background-color: $styleGuideGrey-1;
    color: $styleGuideWhite;
  }

  &--disabled {
    background-color: $styleGuideGrey-3;
    color: rgba($styleGuideGrey-2,0.5);
  }

  &--small {
    line-height: 1;
    margin: 0px;
    background-color: rgba($styleGuideGrey-2,0.5);
    font-size: 12px;
    width: auto;
    padding: 6px 12px;
  }
}