.card {
  background-color: #FFFFFF;
  display: grid;
  grid-template-rows: 56% 1fr 32px;
  position: relative;
  border-radius: 3px;  

  &:hover {
    cursor: pointer;
  }

  &__tag-hot {
    position: absolute;
    top: -2px;
    right: 4px;
  }

  &__tag-circle {
    width: 32px;
    height: 32px;
    left: calc(50% - 16px);
    top: calc(100% - 16px);
    position: absolute;
    background-color: #FFF;
    border-radius: 100%;
    img {
      width: 16px;
      height: 16px;
      margin: 8px;
      opacity: 0.75;
    }

    &--right {
      left: calc(100% - 16px);
      top: calc(50% - 16px);
    }
  }

  &__background {
    background-color: $styleGuideGrey-3;
    border-radius: 3px 3px 0px 0px;
    position: relative;
  }

  &__content {
    position: relative;
    padding: 12px;

    .icon {
      position: absolute;
      right: 12px;
      top: 12px;
    }

    * {
      color: $styleGuideGrey-1;
    }

    label {
      opacity: 0.5;
      font-size: 12px;
      font-weight: 500;
    }

    h3 {
      margin: 0px 0px 6px;
      font-weight: 700;
      font-size: 17px;
    }

    p {
      font-weight: 500;
      font-size: 12px;
    }

    .caption-banner {
      position: absolute;
      top: 0px;
      right: 0px;
      svg {
        position: absolute;
        top: 0px;
        right: 0px;
      }
      span {
        width: 64px;
        height: 64px;
        color: #FFF;
        position: absolute;
        z-index: 1;
        top: 16px;
        right: 0px;
        transform: rotate(45deg);
        font-size: 11px;
      }
    }

    .progress-bar {
      width: 90%;
      height: 20px;
      background-color: $styleGuideGrey-3;
      position: relative;
      span {
        text-align: center;
        color: $styleGuideGrey-1;
        display: block;
        width: 100%;
        font-size: 11px;
        line-height: 20px;
      }
      &__active {
        height: 20px;
        width: 50%;
        background-color: $styleGuideGrey-2;
        position: absolute;
        top: 0px;
        overflow: hidden;
        span {
          color: #FFF;
          width: 200%;
        }
      }
    }
  }
  
  &--large {
    grid-column: span 4;
    grid-row: span 6;
  }

  &--small {
    grid-column: span 2;
    grid-row: span 3;
  }

  &--winner {
    grid-column: span 4;
    grid-row: span 1;
    grid-template-rows: auto;
    grid-template-columns: 72px 1fr;
    .card__content {
      padding: 4px 12px;
      h3 {
        margin: 0px;
      }
    }
    .card__background {
      border-radius: 3px 0px 0px 3px;
    }
  }

  &--medium {
    grid-column: span 4;
    grid-row: span 2;
    height: 156px;
    overflow: hidden;
    grid-template-columns: 170px 1fr;
    grid-template-rows: auto;
    .card__content {
      padding: 0px;
      display: grid; 
      grid-template-rows: 1fr 32px;
      .wrapper{
        padding: 12px;
        display: block;
      }
      h3 {
        white-space: nowrap;
      }
    }
    .card__background {
      border-radius: 3px 0px 0px 3px;
    }

    &--promotion {
      grid-column: -5 / span 4 !important;
    }
  }

  &__action {
    border-top: 1px solid $styleGuideGrey-3;
    display: grid;
    grid-template-columns: auto 1fr;
    line-height: 32px;
    height: 32px;
    overflow: hidden;
    position: relative;

    * {
      color: $styleGuideGrey-1;
      font-size: 12px;
    }

    .favorites {
      border-right: 1px solid $styleGuideGrey-3;
      display: block;
      padding: 0px 12px;
      padding-left: 36px;

      .icon {
        opacity: 0.7;
        position: absolute;
        left: 12px;
        top: 4px;
      }
    }

    .caption {
      padding-left: 12px;
    }

  }
}