.categories {
  height: 48px;
  width: 100%;
  background-color: $styleGuideGrey-2;
  position: relative;
  z-index: 15;
  transition: all ease-out 0.2s;
  @media screen and (min-width: 767px) {    
  }

  &--sticky {
    position: fixed;
    top: 64px;
  }

  &--scrolling {
    top: -64px;
    @media screen and (min-width: 767px) { 
       top: 0px;
     }
  }

  &__wrapper {
    max-width: 1128px;
    padding: 0px 12px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    @media screen and (min-width: 767px) {    
      grid-template-columns: auto 1fr auto;
    }
  }

  .search {
    display: none;
    @media screen and (min-width: 767px) {    
      display: block;
    }
  }

  //.categories__menu
  &__menu {
    list-style: none;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 0px 12px;
    background-color: $styleGuideGrey-2;
    display: grid;
    grid-template-columns: repeat(5, auto);
    @media screen and (min-width: 767px) {
      display: inline-block;    
      position: static;
      padding: 0px;
      width: auto;
      background-color: transparent;
    }   

    li {
      float: left;
      margin: 0px 12px;
      white-space: nowrap;
      &:first-child {
        margin-left: 0px;
      }
    }

    a {
      text-decoration: none;
      line-height: 48px;
      display: inline-block;
      transition: 0.1s ease-out box-shadow;
      opacity: 0.5;
      &.active {
        opacity: 1;
        box-shadow: inset 0px -4px 0px $styleGuideGrey-1;
      }
    }
  }

  //.categories__search
  &__search {
    position: relatve;

    input {
      height: 36px;
      margin: 6px 0px;
      border-radius: 3px;
      border: 0px;
      width: 100%;
      padding: 12px 0px 12px 48px;
      color: $styleGuideGrey-1;
      font-size: 15px;
      &::placeholder {
        color: $styleGuideGrey-2;
      }

      @media screen and (min-width: 767px) {    
        width: 360px; //magic number boys
      }

    }

    .icon {
      margin: 12px;
      position: absolute;
      opacity: 0.5;
    }
  }

}