.sidebar-register, .sidebar-login {

  &__group { 
    position:relative; 
    margin-bottom:30px;
    &:last-of-type {
      margin-bottom: 0px;
    }
  }

  &__form {
    padding: 12px;
    padding-top: 0px;

    input {
      display: block;
      margin: 18px 0px;
      height: 36px;
      width: 100%;
      border: none;
      border-bottom: 1px solid $styleGuideGrey-3;
      font-size: 16px;
      color: $styleGuideGrey-1;
      background-color: transparent;
      border-radius: 0px;
      &:focus, &:valid {
        outline: none;
        border-bottom: 1px solid $styleGuideGrey-2;
      }
      &:placeholder {
        color: $styleGuideGrey-1;
      }
    }
  
    // Label
    label          {
      color: $styleGuideGrey-1;
      font-size:15px;
      font-weight:normal;
      position:absolute;
      pointer-events:none;
      top:6px;
      opacity: 0.4;
      transition:0.2s ease all; 
      -moz-transition:0.2s ease all; 
      -webkit-transition:0.2s ease all;
    }

    /* active state */
    input:focus ~ label, input:valid ~ label    {
      top:-12px;
      font-size:12px;
      opacity: 1;
    }



    a {
      font-weight: bold;
      text-decoration: none;
    }

    .link {
      text-decoration: none;
      color: $styleGuideGrey-1;
      font-size: 14px;
      margin: 12px 0px;
      display: block;
      text-align: center;

    }
  }


}