.game {
  display: grid;
  grid-template-rows: 36px 1fr 46px; 
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;

  &__wrapper {
    background-color: $styleGuideGrey-3;
    height: 86vh;
    grid-column: 1 / -1;
    position: relative;
    @media screen and (min-width: 767px) { 
      padding-top: 60%; 
      height: 0px; 
    }
  }

  &__top, &__bottom {
    background-color: $styleGuideGrey-2;
    display: grid;
    padding: 0px 12px;
    grid-template-columns: auto 1fr 36px 36px;
    line-height: 36px;
    font-weight: 300;
    font-size: 15px;
  }

  &__top {
    svg {
      margin: 6px 0px;
    }
    div:nth-of-type(1) {
      white-space: nowrap;
      svg {
        float: left;
        transform: translateY(3px);
        margin-right: 6px;
      }
    }
    div:nth-of-type(3) {
      .icon {
        transform: translateY(6px);
      }
    }
  }

  &__bottom {
    // overwrite top declarations
    grid-template-columns: auto 1fr 46px auto;
    line-height: 46px;
    .icon {
      margin: 11px 0px;
    }
    img {
      width: 60%;
      margin: 12px 0px;
    }
  }

  &__content {
    background-image: url(../images/icons/placeholder.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

}
