.global-menu {
    
  &__header {
    height: 60px;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 60px;
    h3 {
      color: $styleGuideGrey-1;
      text-align: center;
      line-height: 50px;
    }
    .icon {
      margin: 18px 13px !important;
    }
    .logo {
      text-align: center;
    }
  }

  &__menu {
    h3, span {
      color: $styleGuideGrey-1;
    }
    ul {
      padding: 12px;
      padding-top: 0px;
      list-style: none;
      li {
        background-color: $styleGuideGrey-4;
        height: 70px;
        padding: 12px;
        display: grid;
        grid-template-columns: 38px 1fr 38px;
        grid-template-rows: 46px;
        &:first-of-type {
          border-radius: 3px 3px 0px 0px;
        }
        &:last-of-type {
          border-radius: 0px 0px 3px 3px;
        }
        &:hover {
          cursor: pointer;
        }
      }
      
      .text {
        // padding-left: 12px;
        padding-top: 3px;
      }

      h3 {
        font-weight: 500;
        font-size: 17px;
      }

      span {
        font-size: 12px;
      }

      .icon {
        margin: 14px 7px;
        &:nth-of-type(1) {
          margin: 6px 2px;
        }
      }

      .logout {
        line-height: 52px;
        text-align: center;
        display: inline-block;
        width: 100%;
        color: $styleGuideGrey-1;
      }

    }

    .groups {
      li {
        border-bottom: 1px solid $styleGuideGrey-5;
      }
    }

    .no-icon {
      li {
        grid-template-columns: 1fr 38px !important;
        height: 52px;
        line-height: 52px;
        padding: 0px 12px;
        h3 {
          font-size: 15px;
        }
      }
      .icon {
        margin: 14px 7px !important; 
      }
    }
  }}