.global {
  background-color: $styleGuideGrey-5;
  display: block;
  width: 100vw;
  height: 100vh;
  padding-bottom: 160px;
  overflow: scroll;
  transition: all ease-out 0.15s;
  //display: none;
  position: fixed;
  left: -100vw;
  z-index: 100;
  -webkit-overflow-scrolling: touch;
  top: 0px;

  &--has-global {
    //display: block;
    left: 0px;
  }

  @media screen and (min-width: 767px) { 
    display: none;
  }
}