.login-screen {
  background-color: #F9F9F9;
  width: 375px;
  height: 667px;
  position: fixed;
  top: 112px;
  right: -375px;
  z-index: 50;
  transition: all ease-out 0.2s;
  &--active {
    right: 0px;
  }

  #screen-2 {
    display: none;
  }
}