.sidebar-login {
  display: none;

  &--active {
    display: block;  
    min-height: 85vh;
    @media screen and (min-width: 767px) { 
      min-height: auto;
    }
  }

  &__header {
    height: 50px;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    h3 {
      color: $styleGuideGrey-1;
      text-align: center;
      line-height: 50px;
    }
    .icon {
      margin: 13px !important;
    }
  }

}