.support-window {
  width: 100%;
  min-height: 100vh;
  min-width: 375px;
  display: block;
  background-image: url(../images/mockups/support.png);
  background-size: cover;
  background-repeat: no-repeat;
}