@import "branding";
@import "button";
@import "wrapper";
@import "sidebar";
@import "sidebar-login";
@import "sidebar-profile";
@import "sidebar-register";
@import "sidebar-deposit";
@import "icon.scss";
@import "pill.scss";
@import "menu-item.scss";
@import "navigation.scss";
@import "banner.scss";
@import "categories.scss";
@import "grid.scss";
@import "card.scss";
@import "slider.scss";
@import "bundle.scss";
@import "footer.scss";
@import "login-screen.scss";
@import "global";
@import "global-menu";
@import "support-window";
@import "game";
@import "form";
@import "landing-page";
// bower:scss
// endbower

body, html{
  margin:0;
  padding:0;
  overflow-x: hidden;
}

body {
  background-color: #F5F5F5;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "museo-sans", sans-serif;
  color: #F9F9F9;
}

// //-----------------------------------
// // Grid

// .wrapper {
//   //min-height: 2000px; //LAZY BUG FIX HEHE
// }

// .container  {
//   display: grid;
//   // grid-template-columns: repeat(auto-fill, minmax(76px, 1fr) minmax(76px, 1fr)); // 2 so we always have even number of columns 
//   grid-template-rows: 64px;
//   grid-auto-rows: 64px;
//   max-width: 1024px;
//   margin: 12px auto;
//   grid-gap: 12px;
//   grid-auto-flow: dense;
//   padding: 0px 12px;

//   &--active {
//     margin-bottom: 0px;
//   }

//   @media screen and (max-width: 399px) {
//       grid-template-columns: repeat(4, 1fr); // 2 so we always have even number of columns
//       &--active {
//         padding: 0px;
//       }
//     }
//     @media screen and (max-width: 559px) and (min-width: 400px) {
//       grid-template-columns: repeat(6, 1fr);
//       &--active {
//         padding: 0px 12px;
//       }
//     }
//     @media screen and (max-width: 699px) and (min-width: 560px) {
//       grid-template-columns: repeat(8, 1fr);
//       &--active {
//         padding: 0px 12px;
//       }
//     }
//     @media screen and (max-width: 819px) and (min-width: 700px) {
//       grid-template-columns: repeat(10, 1fr);
//       &--active {
//         padding: 0px 12px;
//       }
//     }
//     @media screen and (min-width: 820px) {
//       grid-template-columns: repeat(12, 1fr);
//     }

//     @media screen and (max-width: 1024px) and (min-width: 820px) {
//       &--active {
//         padding: 0px 12px;
//       }
//     }



//   }

//   .container * {
//     border-radius: 3px;
//   }

//   .card {
//     background-color: #FFFFFF;
//     text-align: center;
//     grid-column: span 2;
//     grid-row: span 3;  

//     display: grid;
//     grid-template-rows: 58% 1fr 18px 18px 1fr 32px;

//     &:hover {
//       cursor: pointer;
//     }

//     &--big {
//       grid-column: span 4;
//       grid-row: span 6;
//       grid-template-rows: 58% 1fr 18px 24px auto 1fr 32px !important;
      
//       .card__label {
//         font-size: 19px !important;
//         line-height: 24px !important;
//         transform: translateX(-2px); //optical adjustment
//       }

//     }

//     &--small {
//       grid-column: span 4;
//       grid-row: span 1;
//       grid-template-rows: 64px;
//       grid-template-columns: 64px 1fr;

//       .card__background {
//         border-radius: 3px 0px 0px 3px !important;
//       }

//       .card__label {
//         padding: 8px 12px;
//         overflow: normal;
//         white-space: normal; 
//         line-height: 1.2;      
//       }
//       .card__label span {
//         font-weight: 500;
//         display: block;
//         font-size: 12px;
//         color: rgba(39,43,51,0.5);
//         text-align: left;
//         padding: 0px
//       }
//     }

//     &--medium {
//       grid-column: span 4;
//       grid-row: span 2;
//       grid-template-rows: 140px;
//       grid-template-columns: 1fr 1fr;

//       .card__background {
//         border-radius: 3px 0px 0px 3px !important;
//       }
      
//       .medium-content {
//         padding: 12px;

//         span {
//           display: block;
//           font-size: 12px;
//           color: rgba(39,43,51,0.5);
//           text-align: left;
//           padding: 0px
//         }
//         h3 {
//           font-size: 15px;
//           color: #272B33;
//           font-weight: 700;
//           text-align: left;
//           margin: 4px 0px;
//         }

//         p {
//           margin: 0px;
//           color: #272B33;
//           font-size: 12px;
//           font-weight: 500;
//           text-align: left;
//         }


//       }
      

//     }

//   //-----

//   &__background {
//     border-radius: 3px 3px 0px 0px;
//     background-size: cover;
//     background-position: center;
//     background-image: url(../images/game__thumb-1.png);
//   }

//   &__background-2 {
//     background-image: url(../images/game__thumb-2.png) !important;
//   }

//   &__background-3 {
//     background-image: url(../images/game__thumb-3.png) !important;
//   }

//   &__caption {
//     font-size: 12px;
//     color: rgba(39,43,51,0.5);
//     text-align: left;
//     padding: 0px 12px;
//     line-height: 18px;
//     img {
//       float: right;
//       width: 16px;
//       margin: 2px 0px;
//     }
//   }

//   &__label {
//     font-size: 15px;
//     font-weight: 700;
//     color: #272B33;
//     line-height: 18px;
//     text-align: left;
//     padding: 0 12px;
//     overflow: hidden;
//     white-space: nowrap;    
//   }

//   &__description {
//     min-height: 90px;
//     color: #272B33;
//     text-align: left;
//     font-size: 12px;
//     line-height: 1.3;
//     padding: 6px 12px 0px;
//   }

//   &__options {
//     padding: 0 12px;
//     border-top: 1px solid #D3D6D7;
//     display: grid;
//     grid-template-columns: auto 1fr;
//     grid-template-rows: 32px;
//     a, span {
//       font-size: 12px;
//       color: #272B33;
//       line-height: 32px;
//       overflow: hidden;
//       white-space: nowrap;
//     }
//     a {
//       border-right: 1px solid #d3d6d7;
//       height: 100%;
//       text-decoration: none;
      
//       padding-right: 8px;
//       border-radius: 0px;
//       border-bottom-left-radius: 3px;

//       img {
//         width: 16px;
//         margin: 8px 0px;
//         float: left;
//         opacity: 0.7;
//         margin-right: 3px;
//       }
//     }
//     span {
//      text-align: left;
//      padding-left: 8px; 
//    }
//  }
// }

// // In grid horizontal scrollers
// //-----------------------------------

// .scroller {
//   background-color: transparent;
//   grid-column: 1 / -1;
//   display: grid;
//   grid-auto-flow: column;
//   grid-gap: 12px;
//   overflow: scroll;
//   border-radius: 0;
//   text-align: center;
//   overflow-y: hidden;

//   &--small {  
//     grid-auto-columns: 140px;
//     grid-row: 7 / span 1;
//     line-height: 64px;

//   }

//   &--big {
//     grid-auto-columns: 273px;
//     grid-row: 11 / span 2;

//     img {
//       width: 100%;
//     }
//   } 

//   &--active {
//     // 0px -> 455px
//     //grid-row-start: none;
//     @media screen and (max-width: 699px) and (min-width: 560px) {
//       grid-column: 1/5;
//     }
//     @media screen and (max-width: 819px) and (min-width: 700px) {
//       grid-column: 1/7;
//     }  
//     @media screen and (max-width: 1359px) and (min-width: 820px) {
//       grid-column: 1/9;
//     }
//     @media screen and (max-width: 1700px) and (min-width: 1360px) {
//       grid-column: 1/11;
//     }
//     //grid-column: 1 / 9 !important;
//   }
// }

// .scroller--active.scroller--small {
//   grid-row-start: unset;
//   @media screen and (min-width: 560px) {
//     grid-row: 7 / span 1;
//   }
// }

// .scroller--active.scroller--big {
//   grid-row-start: unset;
//   @media screen and (min-width: 560px) {
//     grid-row: 11 / span 2;
//   }
// }




// .sub-card {
//   background-color: #FFF;
//   color: #272B33;
//   font-size: 15px;
//   font-weight: 700;
//   &:hover {
//     cursor: pointer;
//   }

// }

// // Off canvas menu
// //-----------------------------------

// .menu {
//   display: none;
//   grid-column: span 4 / -1;
//   grid-row: 1 / 36;
//   background-color: #F5F5F5;
//   margin-top: -440px;
//   border-radius: 0px;
//   @media screen and (max-width: 767px) {
//     margin-top: -392px;
//   }

//   @media screen and (max-width: 1024px) and (min-width: 400px)  {
//     margin-right: -12px;
//   }


//   &--active {
//     display: block;
//     @media screen and (min-width: 1025px) {
//       position: absolute;
//       right: 0px;
//       width: 337px;
//       height: 2200px;
//     }
//   }

//   .bottom {
//     position: fixed;
//     bottom: -6px;
//   }
// }

// .menu-scaffold {
//   display: none;
//   &--active {
//     display: block;
//     @media screen and (max-width: 1359px) and (min-width: 1025px) {
//       grid-column: span 4 / -1;
//       grid-row: 1 / 36;
//     }
//     @media screen and (max-width: 1700px) and (min-width: 1360px) {
//       grid-column: span 2 / -1;
//       grid-row: 1 / 36;
//     }
//   }
// }

// // Nav and Banner
// //-----------------------------------

// .nav,.banner {
//   display: block;
// }

// .nav {
//   &--1 {
//     background-color: #60666E;
//     height: 64px;
//     line-height: 64px;
//     @media screen and (max-width: 767px) {
//       height: 44px;
//       line-height: 44px;
//     }

//   }
//   &--2, &--3 {
//     height: 48px;
//     line-height: 48px;
//     background-color: #7C848C;
//     @media screen and (max-width: 767px) {
//       display: none;
//     }
//   }

// }

// // .banner { 
// //   background-color: transparent;
// //   min-height: 380px;
// //   height: auto;
// //   background-image: url(https://d1926ey24re8sz.cloudfront.net/158045/1463762372000/gonzo_new.jpg);
// //   //background-image: linear-gradient(transparent, rgba(0,0,0,0.5));
// //   background-size: cover;
// //   background-position: bottom right;


// //   iframe {
// //   position: absolute;
// //   z-index: -1;
// //   left:50%;
// //   transform:translate(-50%, 0);
// //   }

// //   &__content {
// //     max-width: 1024px;
// //     margin: 0 auto;
// //     padding: 64px 12px;
// //     @media screen and (max-width: 767px) {
// //       padding: 24px 12px;
// //     }
// //   }


// //   h1 {
// //     font-weight: 700;
// //     font-size: 50px;
// //     margin: 16px 0px;
// //     @media screen and (max-width: 767px) {
// //       font-size: 32px;
// //     }
// //   }
// //   p {
// //     max-width: 600px;
// //     font-weight: 300;
// //     line-height: 1.35;
// //   }

// //   a {
// //     display: inline-block;
// //     text-decoration: none;
// //     background-color: #fff;
// //     color: #000;
// //     padding: 16px 24px;
// //     margin: 20px 0px;
// //     border-radius: 3px;
// //   }

// // }

// #topbar {
//   max-width: 1024px;
//   margin: 0 auto;
//   display: grid;
//   grid-template-rows: 64px;
//   grid-gap: 16px;
//   list-style: none;
//   padding: 0px 12px;
//   grid-template-columns: 120px 1fr auto auto auto auto;

//   a {
//     display: inline-block;
//     text-decoration: none;
//   }

//   .logo {
//     a {
//       height: 64px;
//     }
//     @media screen and (max-width: 767px) {
//       text-align: center;
//       a {
//         transform: translateX(22px); // to center the logo
//         // 44 on left, 88 on right. (88-44) / 2
//         height: 44px;
//         img {
//           margin-top: -10px; // magic number fite me
//         }
//       }
//     }
//   }

//   .pill {
//     background-size: 100%;
//     padding-left: 14px;
//     font-size: 15px;

//     &--jackpot {
//       background-image: url(../images/jackpot.svg);
//       width: 94px;
//     }
//     &--balance {
//       background-image: url(../images/balance.svg);
//       width: 112px;
//     }
//   }

//   .mobile {
//     display: none;
//   }
//   .desktop {
//     display: block;
//   }

//   @media screen and (max-width: 767px) {
//     padding: 0px;
//     grid-template-columns: 44px 1fr 44px 44px;
//     grid-template-rows: 44px;
//     grid-gap: 8px;
//     overflow: hidden;
//     .mobile{
//       display: block;
//     }
//     .desktop {
//       display: none;
//     }
//   }

// }

// .subbar {
//   max-width: 1024px;
//   margin: 0 auto;
//   display: grid;
//   grid-template-rows: 48px;
//   grid-gap: 24px;
//   list-style: none;
//   padding: 0px 12px;
//   font-size: 15px;
//   font-weight: 300;
// }

// #nav-2 {
//   grid-template-columns: auto auto auto auto 1fr auto auto;
// }

// #nav-3 {
//   grid-template-columns: auto auto auto auto auto 1fr;
//   grid-gap: 0px !important;
//   li {
//     width: 125px;
//     text-align: center;
//   }
//   .active {
//     border-bottom: 2px solid #000;
//   }
// }

// // Profile Menu
// // ---------------
// #profile {
//   height: 100%;
//   background-color: #C0C4CA;
//   list-style: none;
//   padding: 12px;
//   padding-top: 0px;
//   border-radius: 0px;
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   grid-template-rows: 44px 80px 52px 12px 52px 12px 52px 12px 52px 52px 52px 12px 52px 1fr;
  
//   li:nth-child(1) {
//     // john doe
//     grid-column: 1/-1;
//     text-align: center;
//     line-height: 44px;
//   }
//   li:nth-child(2),li:nth-child(3),li:nth-child(4),li:nth-child(5) {
//     grid-column: span 1;
//     text-align: center;
//     span {
//       display: block;
//     }
//   }

//   li:nth-child(2),li:nth-child(3) {
//     padding-top: 20px;
//     span {
//       font-size: 12px;
//       color: #272B33;
//       opacity: 0.5;
//     }
//     font-size: 17px;
//     font-weight: 300;
//   }

//   li:nth-child(4),li:nth-child(5) {
//     background-color: #0C1C24;
//     text-align: center;
//     a {
//       text-decoration: none;
//       display: block;
//       line-height: 52px;
//       font-size: 17px;
//       font-weight: 700;
//     }
//   }
//   li:nth-child(4) {
//     border-radius: 3px 0px 0px 3px;
//     border-right: 1px solid #C0C4CA;
//   }
//   li:nth-child(5) {
//     border-radius: 0px 3px 3px 0px;
//     //border-left: 0.5px solid #C0C4CA;
//   }

//   .spacer {
//     grid-column: span 2;
//   } 
// }

// .menu {
//   &__link {
//     display: grid;
//     grid-template-columns: 40px 1fr 40px;
//     grid-template-rows: 52px;
//     font-size: 15px;
//     font-weight: 300;
//     line-height: 52px;
//     grid-column: span 2;
//     background-color: #9FA2AA;
//     border-radius: 0px;
//     border-bottom: 1px solid #C0C4CA;
//     &--top {
//       border-top-left-radius: 3px;
//       border-top-right-radius: 3px;
//     }
//     &--bottom {
//       border-bottom-left-radius: 3px;
//       border-bottom-right-radius: 3px;
//     }
//     &--button {
//       grid-template-columns: 1fr !important;
//       text-align: center;
//     }
//   }

//   &__icon {
//     width: 40px;
//     height: 52px;
//   }
// }


// #details, #deposit {
//   background-color: #f5f5f5;
//   height: 100%;
//   img {
//     width: 100%;
//     border-radius: 0px;
//   }
// }



